       h1 {
    text-align: center;
}
        .navbar{
        list-style:none;
        background: linear-gradient(to right, #003366 39%, #cc00cc 64%);
        overflow: hidden;
        padding: 0;
        }

        .navbar a, .dropdown div{
            text-decoration: none;
            color:white;
            font-size: 24px;
            padding: 16px;
            display: inline-block;
        }
        .navbar li{
            float: left;
        }

        .navbar li:hover{
            background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
        }

        .dropdown-content{
            list-style: none;
             padding:0;
             display:none;
             position: absolute;
             z-index: 1;
             background-color: blueviolet;
            }

            .dropdown-content li{
                float:none
            }

            .dropdown:hover .dropdown-content{
                display:block;
            }
